body{
	background-image: url("./../images/catbackground.jpg");
	background-attachment: fixed;
    background-size:100% auto;
	text-align: center;
	padding-top: 5%;
}

.header{
	background-color: black;
	color: white;
}
.text-muted{
	color: black;
}

.last-seconds{
  color: orangered
}
.option{
  margin: 20px;
}