body{
	background-image: url("./Assets/images/catbackground.jpg");
	text-align: center;
	padding-top: 5%;
}

.header{
	background-color: black;
	color: white;
}
.text-muted{
	color: black;
}

.last-seconds{
  color: orangered
}
.option{
  margin: 20px;
}